# misc

.DS_Store
/.idea

# yarn

/.pnp.*
/.yarn/cache
/.yarn/unplugged
/.yarn/install-state.gz
/yarn-error.log

# open-ssl

*.ca
*.crt
*.csr
*.der
*.kdb
*.org
*.p12
*.pem
*.rnd
*.ssleay
*.smime

/node_modules
/target
